{% extends 'base.html.twig' %}

{% block title %}Student index
{% endblock %}

{% block body %}
<h1>Students :</h1>

<table border="1" class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Age</th>
			<th>Classroom</th>
		</tr>
	</thead>
	<tbody>
		{% for student in students %}
		<tr>

			<td>{{ student.id }}</td>
			<td>{{ student.name }}</td>
			<td>{{ student.email }}</td>
			<td>{{ student.age }}</td>
			<td>{{ student.classroom }}</td>
			<td>
				<a href="{{ path('app_classroom_show', {'ref': student.id}) }}">Afficher</a>
			</td>

			<td>
				<a href="{{ path('app_classroom_edit', {'ref': student.id}) }}">Editer</a>
			</td>
			<td>
				<a style="color: red;" href="{{ path('app_student_delete', {'id': student.id}) }}">Supprimer</a>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="5">no data</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_student_new') }}">Ajouter</a>
{% endblock %}